<div class="dog-container">
  <div class="side-bar">
      <h1> Dogs Dashboard</h1>
      <input *ngIf="!isOpened" class="dog-search" type="text" placeholder="search for dog breed.." [(ngModel)]="breed" />
  </div>
  <div class="dogs-grid">
    <div *ngIf="!isOpened" class="dogs-list animate" [ngClass]="{'fadeOut': isOpened, 'fadeIn' :isOpened==false}"> 
      <div (click) = "getDogImage(dog)" class="dog-item" *ngFor='let dog of dogs | filter : breed'>
        {{dog}}
      </div>
      <div *ngIf="dogs && (dogs | filter : breed).length===0" class="dog-item">
        no dog breed found
      </div>
    </div>
    <div *ngIf="dogImg && isOpened" class="dog-details animate" [ngClass]="{'fadeOut': isOpened==false, 'fadeInLeft' :isOpened}">
      <div class="dog-image-container">
          <img  [src]="dogImg"/>
      </div>
      <label class="more-dogs" *ngIf="selectedBreed" (click)="getDogImage(selectedBreed)">show more dogs</label>
      <label class="close" (click)="closeGrid()">x</label>
    </div>  
  </div> 
</div>